/CLOS/private_data/*
/CLOS/private_data
/CLOS/data/settings.json
/CLOS/data/boot_opt.json
/CLOS/icons/*
/CLOS/libs/__pycache__
/CLOS/libs/dirs.json
/CLOS/libs/color.py
/CLOS/libs/vancy_prompt_options.json
/CLOS/libs/nil
/CLOS/commands/d.bat
/CLOS/commands/dirs.json
/CLOS/commands/stupid
/CLOS/important.txt
/CLOS/nil
os
nil
CLOS/commands/list_server_log.txt
CLOS/commands/messenger_chat_log.txt
CLOS/commands/messenger_server_log.txt
CLOS/platform
CLOS/sys
CLOS/json
CLOS/keyboard
