/CLOS/private_data/*
/CLOS/private_data
/CLOS/data
/CLOS/data/*
/CLOS/data/settings.json
/CLOS/data/boot_opt.json
/CLOS/icons/*
/CLOS/libs/__pycache__
/CLOS/libs/dirs.json
/CLOS/libs/color.py
/CLOS/commands/d.bat
/CLOS/commands/dirs.json
/CLOS/important.txt
/CLOS/nil
nil